<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if IE]><script
      src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script><![endif]-->
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
   </script>

   <!-- Latest compiled JavaScript -->
   <script src=
     "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
   </script>
   <script>
    $(document).ready(function(){
      {% block jquery %}
      {% endblock %}
    });
    </script>
<meta charset="utf-8">
    <title>
      {% block title %}
        WKDA Services
      {% endblock %}
    </title>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.wkdaservices.com">
            WKDA Services</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'client_list' %}">Clients</a>
              <li class="active"><a href="{% url 'activity_list' %}">Activities</a></li>
            <li class="disabled"><a href="#">Future</a></li>
            <li class="disabled"><a href="#">Future</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div><!-- container -->
      <main>
       {% block content %}
         Error - Page unable to load.
       {% endblock %}
      </main>
    </div><!-- container -->

    <footer>
      <p>
        &copy; 2017
        <a href="">
          Chris Humphreys</a>
      </p>
      <p>
        Created for
        <a href="http://www.wkdaservices.com/home.html">
          Western Kentucky Drug and Alcohol Services</a>
      </p>
    </footer>
  </body>

</html>
