{% extends parent_template|default:"client_info/base_client_info.html" %}

{% block content %}
<div>
  <div class="container-fluid">
    <form
      action="{{ clientactivities.get_delete_url }}"
      method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      Are you sure you want to delete Activity:
      <b>{{ clientactivities.type_of_activity|title }}</b> on <b>
          {{ clientactivities.activity_date }}</b></p>
    <em>This cannot be undone!</em>
    <br>
    <a href="{{ clientactivities.get_absolute_url }}">
      <button class="btn btn-large btn-primary"
              type="button">
        Cancel</button></a>
    <button class="btn btn-large btn-danger"
            type="submit">
      Delete Activity</button>
    </form>
  </div>
</div>
{% endblock %}

