{% extends parent_template|default:"client_info/base_client_info.html" %}

{% comment %}
Name: Chris Humphreys
Date: 08/03/17
Description: HTML template for activity update pages
{% endcomment %}

{% block content %}
<div class="container-fluid">
<h2>{{ client.first_name|title }} {{ client.last_name|title }}</h2>
  <div>
    <form action="{{ activity.get_update_url }}"
          method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">
        Update Activity</button>
    </form>
  </div>
</div>
{% endblock %}
