{% extends parent_template|default:"client_info/base_client_info.html" %}
{% comment %}
  Date: 07/22/17
  Name: client_list.html
  Description: HTML template page that lists all clients in database
{% endcomment %}

{% block content %}
<div class="container-fluid">
  <h1>Activities</h1>

  <ul>
  {% for activity in activity_list %}
    <li>
      <a href='{{ activity.get_absolute_url }}'>{{ activity.activity_ID }} - 
        {{ activity.type_of_activity|title }}</a>
    </li>
  {% endfor %}
  </ul>
  <a href="{% url 'activity_create' %}">
     <button class="btn btn-primary">Create New Activity</button>
  </a>
</div>
{% endblock %}

