{% extends parent_template|default:"client_info/base_client_info.html" %}

{% block content %}
<div class="container-fluid">
  <h2>{{ activity.activity_ID }} - {{ activity.type_of_activity|title }}</h2>
  <div>
    <ul>
      <li>Activity ID: {{ activity.activity_ID }}</li>
      <li>Activity Type: {{ activity.type_of_activity }}</li>
      <li>Activity Date: {{ activity.activity_date }}</li>
      <li>Activity Cost: {{ activity.activity_cost }}</li>
      <li>Activity Notes: {{ activity.notes }}</li>
      <li>Activity Slug: {{ activity.slug }}</li>
      <li>Clients at Activity: 
        <ul>
          {% for client in activity.clients.all %}
        <li><a href="{{ client.get_absolute_url }}">{{ client.first_name }}
            {{client.last_name }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
<a href="{{ activity.get_delete_url }}">
  <button class="btn btn-large btn-danger">Delete Activity</button>
</a>
<a href="{{ activity.get_update_url }}">
  <button class="btn btn-large btn-primary">Update Activity</button>
</a>
</div>
{% endblock %}

