{% extends parent_template|default:"client_info/base_client_info.html" %}

{% block content %}
<div>
  <div class="container-fluid">
    <form
      action="{% url 'activity_create' %}"
      method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
      Create Activity</button>
    </form>
  </div>
</div>
{% endblock %}
