{% extends parent_template|default:"client_info/base_client_info.html" %}

{% block content %}
<div>
  <div class="container-fluid">
    <form
      action="{{ client.get_delete_url }}"
      method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      Are you sure you want to delete Client:
      <b>{{ client.first_name|title }} {{ client.last_name|title }}</b></p>
    <em>This cannot be undone!</em>
    <br>
    <a href="{{ client.get_absolute_url }}">
      <button class="btn btn-large btn-primary"
              type="button">
        Cancel</button></a>
    <button class="btn btn-large btn-danger"
            type="submit">
      Delete Client</button>
    </form>
  </div>
</div>
{% endblock %}
