{% extends parent_template|default:"client_info/base_client_info.html" %}

{% block content %}
<div class="container-fluid">
<h2>{{ client.first_name|title }} {{ client.last_name|title }}</h2>

<ul>
  <li>First Name: {{ client.first_name }}</li>
  <li>Middle Name: {{ client.middle_name }}</li>
  <li>Last Name: {{ client.last_name }}</li>
  <li>Birth Date: {{ client.birth_date }}</li>
  <li>Conviction Date: {{ client.conviction_date }}</li>
  <li>Case Number: {{ client.case_number }}</li>
  <li>Assessed Date: {{ client.assessed_date }}</li>
  <li>Intake Date: {{ client.intake_date }}</li>
  <li>Balance: {{ client.balance_cf }}</li>
  <li>Program Completed: {{ client.complete }}</li>
  <li>Amount Billed: {{ client.total_billed }}</li>
  <li>Amount Paid: {{ client.total_paid }}</li>
  <li>Paid in Full: {{ client.paid_in_full }}</li>
  <li>Date Paid in Full: {{ client.paid_in_full_date }}</li>
  <li>Compliant: {{ client.non_compliant }}</li>
  <li>Non-Compliant Date: {{ client.no_compliant_date }}</li>
  <li>Active: {{ client.inactive }}</li>
  <li>Inactive Date: {{ client.inactive_date }}</li>
  <li>Street Address: {{ client.street_address }}</li>
  <li>City: {{ client.city }}</li>
  <li>State: {{ client.state }}</li>
  <li>Zip Code: {{ client.zip_code }}</li>
  <li>Phone Number: {{ client.phone_number }}</li>
  <li>Work Phone Number: {{ client.work_phone_number }}</li>
  <li>Social Security Number: {{ client.ssn }}</li>
  <li>Court: {{ client.court }}</li>
  <li>Office Number: {{ client.office_number }}</li>
  <li>DUI: {{ client.dui }}</li>
  <li>Comments: {{ client.comments }}</li>
  <li>Program: {{ client.program }}</li>
  <li>BYN: {{ client.byn }}</li>
</ul>

<h2>Activities Attended</h2>
  <ul>
    {% for activity in activities %}
    <li>
      <a href = "{{ activity.get_absolute_url }}">
      {{ activity.activity_ID }}-{{ activity.type_of_activity}}</a>
    </li>
    {% endfor %}
  </ul>
<a href="{{ client.get_delete_url }}">
  <button class="btn btn-large btn-danger">Delete Client</button>
</a>
<a href="{{ client.get_update_url }}">
  <button class="btn btn-large btn-primary">Update Client Info</button>
</a>
<a href="{{ client.get_payments_url }}">
  <button class="btn btn-large btn-info">View Payments</button>
</a>
</div>
{% endblock %}
