{% extends parent_template|default:"client_info/base_client_info.html" %}
{% comment %}
  Date: 07/22/17
  Name: client_list.html
  Description: HTML template page that lists all clients in database
{% endcomment %}

{% block content %}
<div class="container-fluid">
  <h1>Clients</h1>

  <ul>
  {% for client in client_list %}
    <li>
      <a href='{{ client.get_absolute_url }}'>{{ client.first_name|title }}
        {{ client.last_name|title }}</a>
    </li>
  {% endfor %}
  </ul>
  <a href="{% url 'client_create' %}">
     <button class="btn btn-primary">Create New Client</button>
  </a>
 <a href="{% url 'payment_create' %}">
     <button class="btn btn-primary">Add Payment</button>
  </a></div>
{% endblock %}
