{% extends parent_template|default:"client_info/base_client_info.html" %}
{% comment %}
  Date: 07/22/17
  Name: client_payments_list.html
  Description: HTML template page that lists all payments made by a client
{% endcomment %}

{% block content %}
<div class="container-fluid">
  <h1>Payments</h1>

  <ul>
  {% for payment in payments %}
    <li> <a href = "{{ payment.get_absolute_url }}">
      {{ payment.payment_date }} - {{ payment.payment_amount }}
      </a>
    </li>
  {% endfor %}
  </ul>
  <a href = "{{ client.get_receipt_url }}">
    <button class='btn btn-info'>Print Receipt</button></a>
</div>
{% endblock %}
