{% extends parent_template|default:"client_info/base_client_info.html" %}

{% comment %}
Name: Chris Humphreys
Date: 07/22/17
Description: HTML template for client update pages
{% endcomment %}

{% block content %}
<div class="container-fluid">
<h2>{{ client.first_name|title }} {{ client.last_name|title }}</h2>
  <div>
    <form action="{{ client.get_update_url }}"
          method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">
        Update Client</button>
    </form>
  </div>
</div>
{% endblock %}
