{% extends parent_template|default:"client_info/base_client_info.html" %}
{% comment %}
name of check_number field is check_number
  use 'input[name=check_number]' to access with jquery
name of payment_form field is payment_form
  use 'selection[name=payment_form]' to access with jquery

{% endcomment %}

{% block jquery %}
// This function hides the check number field
//  if the user selects an option other than check 
$("#id_payment_form").change(function () {
  var selected_option = $('#id_payment_form').val();
  if (selected_option === 'K') {
      $('#id_check_number').show();
      $("label[for='id_check_number']").show();
  }
  if (selected_option != 'K') {
      $("label[for='id_check_number']").hide();
      $('#id_check_number').hide();
  }
})
{% endblock %}

{% block content %}
<div>
  <div class="container-fluid">
    <form
      action="{% url 'payment_create' %}"
      method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">
      Create Payment</button>
    </form>
  </div>
</div>
{% endblock %}
