{% extends parent_template|default:"client_info/base_client_info.html" %}

{% comment %}
Name: Chris Humphreys
Date: 08/05/17
Description: HTML template for payment detail pages
{% endcomment %}

{% block content %}
<div class="container-fluid">
  <h2>{{ payment.client|title }} - {{ payment.payment_date }}</h2>
  <div>
    <ul>
      <li>Payment Form:
        {% if payment.payment_form == 'K' %}
          Check</li>
        <li>Check Number: {{ payment.check_number }}</li>
        {% elif payment.payment_form == 'C' %}
          Cash</li>
        {% elif payment.payment_form == 'V' %}
          Credit Card</li>
      {% endif %}
      <li>Payment Date: {{ payment.payment_date }}</li>
      <li>Payment Amount: {{ payment.payment_amount }}</li>
    </ul>
  <a href = "{{ payment.get_delete_url }}">
    <button class='btn btn-danger'>Delete</button></a>
  </div>
</div>
{% endblock %}
