{% extends parent_template|default:"client_info/base_client_info.html" %}

{% comment %}
Name: Chris Humphreys
Date: 08/12/17
Description: HTML template for payment delete. 
{% endcomment %}

{% block content %}
<div>
  <div class="container-fluid">
    <form
      action="{{ payment.get_delete_url }}"
      method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
      Are you sure you want to delete Payment:
      <b>{{ payment|title }}</b></br> 
    <em>This cannot be undone!</em>
    <br>
    <a href="{{ clientactivities.get_absolute_url }}">
      <button class="btn btn-large btn-primary"
              type="button">
        Cancel</button></a>
    <button class="btn btn-large btn-danger"
            type="submit">
      Delete Payment</button>
    </form>
  </div>
</div>
{% endblock %}

